.nav-tab {
    ul {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-start;
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            margin: 0 5px 0 0;
            padding: 0;
        }
    }
}

.tab-content {
    border: 1px solid #150031;
    border-radius: 0 3px 3px 3px;
    background: #fff;
}

.btn--tab {
    background: #e5e5e5;
    color: #150031;
    border: 1px solid #150031;
    margin: 0 -3px -1px 0;
    border-radius: 3px 3px 0 0;
    &:hover {
        background: #fff;
    }
}

.active .btn--tab {
    background: #fff;
    border-bottom-color: #fff;
}