$main-bg: #fefefe;
$main-font: 'Helvetica Neue', Verdana, Geneva, sans-serif;
$main-f-size: #{16px}/#{25px};
$main-f-weight: normal;
$main-f-color: #454545;
$font: $main-f-weight $main-f-size $main-font;

$a-color: #e26200;
$a-v-color: #aa4c00;