

.footer, .footer .container {
    background: #666;
    color:#fff;
    display:flex;
    flex-flow:column nowrap;
    align-items:center;
    justify-content:center;
}
.footer .container {
  background: transparent;
  color: inherit;
}